.main-header-div{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.login-logo img{
    height: 50px;
    width: auto;
}

.login-logo{
    position: relative;
    right: 21.5%;
}

.btn-dayoff{
    font-weight: bold;
    background-color: rgb(231, 155, 155);
    color: white;
    border-radius: 7px;
    border: none;
    width: 75px;
    height: 40px; 
    cursor: pointer;
}
.btn-dayoff:hover{
    background-color: red !important;
}




