.ribbon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #055496;
    height: 30px;
    column-gap: 25px;
}


a{
    color: white;
   cursor: pointer;
}

a {
    text-decoration: none !important; /* Removes underline */
  }
  
  .router-link-active {
    text-decoration: none !important; 
    border-bottom: none !important;    
    outline: none !important;        
  }
  