<div *ngIf="showToast" class="toast-box">
    {{ toastMessage }}
</div>
<form [formGroup]="surveyForm" (ngSubmit)="null">
    <div class="survey-form-container">
        <div class="header">
            <h2>Create/Edit Survey</h2>
            <button class="btn back-button" (click)="goBack()">Back</button>
        </div>

        <div class="card">
            <h3 class="card-title">Survey Details</h3>
            <div class="form-grid">
                <input type="hidden" formControlName="surveyId" />
                <label>
                    Survey Name
                    <input type="text" class="form-input" [ngClass]="{ 'error': isFieldInvalid('surveyName') }"
                        formControlName="surveyName" />
                </label>

                <label>
                    Start Date
                    <input type="date" class="form-input" formControlName="startDate" />
                </label>

                <label>
                    End Date
                    <input type="date" class="form-input" formControlName="endDate" />
                </label>

                <label>
                    User Instructions
                    <input type="text" class="form-input" formControlName="userInstructions" />
                </label>

                <label>
                    Confirmation Message
                    <input type="text" class="form-input" formControlName="confirmationMessage" />
                </label>


                <div class="form-group">
                    <label class="group-label">Display Questions</label>
                    <div class="radio-group" role="radiogroup">
                        <label class="radio-label"
                            [ngClass]="{ 'selected-radio': surveyForm.value.displayMode === true }">
                            <input type="radio" formControlName="displayMode" [value]="true" name="displayMode" />
                            Single Page
                        </label>

                        <label class="radio-label"
                            [ngClass]="{ 'selected-radio': surveyForm.value.displayMode === false }">
                            <input type="radio" formControlName="displayMode" [value]="false" name="displayMode" />
                            Different Page
                        </label>
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-title">Authenticate Users for Survey</h3>

                <div class="radio-group horizontal">
                    <label [ngClass]="{ 'selected-radio': surveyForm.value.audience === 'all' }">
                        <input type="radio" formControlName="audience" value="all" /> For All Employee
                    </label>

                    <label [ngClass]="{ 'selected-radio': surveyForm.value.audience === 'custom' }">
                        <input type="radio" formControlName="audience" value="custom" /> For Custom Group
                    </label>
                </div>

                <div class="form-grid">
                    <label>
                        Select Location:
                        <select class="form-input" formControlName="location">
                            <option value="">Select an Option</option>
                            <option *ngFor="let loc of locations" [ngValue]="loc.plantId">{{ loc.plantName }}</option>
                        </select>
                    </label>

                    <label>
                        Department:
                        <select class="form-input" formControlName="department">
                            <option value="">Select an Option</option>
                            <option *ngFor="let dept of departments" [ngValue]="dept.deptID">{{ dept.deptName }}</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="card" formGroupName="userDropDown">
                <div class="dual-list-wrapper">
                    <select multiple class="form-control select-box" formControlName="userList">
                        <option *ngFor="let user of availableUsers" [ngValue]="user.id" >{{
                            user.firstName+' ' + user.lastName}}

                        </option>
                    </select>

                    <div class="btn-column">
                        <button class="circle-btn" (click)="moveToSelected()"><i class="arrow right"></i></button>
                    </div>

                    <div class="btn-column">
                        <button class="circle-btn" (click)="moveToAvailable()"><i class="arrow left"></i></button>
                    </div>

                    <select multiple class="form-control select-box" formControlName="selectedUserList" size="10">
                        <!-- <option *ngFor="let user of selectedUsers"  >{{ user.firstName }}</option> -->
                        <option *ngFor="let user of selectedUsers" [ngValue]="user.id">
                            {{ user.firstName + ' ' + user.lastName }}
                        </option>
                    </select>
                </div>

                <div class="btn-update-wrapper">
                    <button class="primary-btn">Update Survey User</button>
                </div>
            </div>

            <!-- other design start here -->
            <div class="card" formGroupName="questionDetails">
                
                <div class="question-option-wrapper">
                    <div class="question-option-header">
                        <div class="header-section">Question Details</div>
                        <div class="header-section">Option Details</div>
                    </div>

                    <div class="question-option-body">
                        <div class="question-section">
                            <label for="questionText">Question Text</label>
                            <textarea formControlName="questionText" id="questionText"></textarea>
                        </div>
                        <div class="option-section">
                            <label for="optionType">Option Type</label>
                            <div class="option-types">
                                <label><input formControlName="optionType" type="radio" value="1" checked /> Radio
                                    Button</label>
                                <label><input formControlName="optionType" type="radio" value="2" />
                                    Multiple Text
                                    Box</label>
                                <label><input formControlName="optionType" type="radio" value="3" />
                                    Check Box</label>
                                <label><input formControlName="optionType" type="radio" value="4" />
                                    Single Text
                                    Box</label>
                            </div>
                        </div>

                        <div class="option-list-section">
                            <label>Option List</label>
                            <div class="option-row">
                                <input formControlName="newOption" type="text" placeholder="Enter Option"
                                    class="option-input" />
                                <button class="btn add-btn" (click)="null">Add Option</button>

                                <select id="ddlOptionName" size="5" class="option-select">
                                    <option *ngFor="let option of null" [value]="option">{{ option }}</option>
                                </select>

                                <button (click)="null" class="arrow-btn">⬆</button>
                                <button (click)="null" class="arrow-btn">⬇</button>
                                <button class="btn delete-btn" (click)="null">✖</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- other design end here -->


            <div class="save-button">
                <!-- <button type="submit" class="btn save-btn">Save Survey Details</button> -->
                 <button type="submit" [ngClass]="'btn save-btn'" (click)="saveSurvey()" >Save Survey Details</button>
            </div>
        </div>
    </div>
</form>