<app-header></app-header>
<app-ribbon></app-ribbon>

<button [ngClass]="'add-button-Container'" type="button" (click)="addNewDepartment()">
    Add New Plant
</button>


<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>Plant SAP Code</th>
        <th>Group Code</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{ department.deptName }}</td>
        <td>{{ department.sapCode }}</td>
        <td>{{ department.groupID }}</td>
       <td>{{ department.status ? 'Active' : 'Inactive' }}</td>
        <td>
          <button class="edit-btn" (click)="editDepartment(department)">Edit</button>
          <button class="delete-btn" (click)="deleteDepartment(department.deptID)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<app-footer></app-footer>