<div [ngClass]="'header-div'">
    <app-header></app-header>
    <app-ribbon></app-ribbon>
</div>


<div [ngClass]="'table-container'">

    <div class="table-controls-wrapper">
        <div class="left-controls">
            <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
            </select>
        </div>

        <div class="right-controls">
            <input type="text" [(ngModel)]="globalSearch" (input)="applyGlobalFilter()"
                placeholder="Search employees..." class="global-search-bar" />
        </div>
    </div>



    <table [ngClass]="'styled-table'">


        <thead>
            <tr>
                <td>Employee Name</td>
                <td>Employee ID</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of paginatedUsers">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.empCode }}</td>
                <td>{{ user.status ? 'Active' : 'Inactive' }}</td>
                <td>
                    <button [ngClass]="'edit-btn'" (click)="editUser(user)">Edit</button>
                    <button [ngClass]="'delete-btn'" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div [ngClass]="'pagination-container'">
        <button [ngClass]="'pagination-btn'" (click)="previousPage()" [disabled]="currentPage === 1">Prev</button>
        <span [ngClass]="'pagination-label'">Page {{ currentPage }} of {{ totalPages }}</span>
        <button [ngClass]="'pagination-btn'" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
</div>



<app-footer></app-footer>