<div [ngClass]="'header-div'">
    <app-header></app-header>
    <app-ribbon></app-ribbon>
</div>
<div class="main-class">

    <div [ngClass]="'container-class'">

        <div [ngClass]="'username-div'">
            <span>Welcome User !</span>
        </div>

        <ng-container>
            <div [ngClass]="'container-div'">

                <div>
                    <div [ngClass]="'my-page-div'">
                        <ul>
                            <li>My Page</li>
                        </ul>

                    </div>
                    <div [ngClass]="'username-url-div'">
                        <ul>
                            <li>Attendance</li>
                            <li>Apply Leave</li>
                            <li>Attendance Regularisation</li>
                            <li>My Team</li>
                            <li>Change Password</li>
                            <!-- <li> <a routerLink="/user-Reg">User Registration</a> </li> -->
                            <li (click)="navigateToUserReg()">User Registration</li>
                            <li (click)="navigateToUserList()">User List</li>
                            <li (click)="naigateToSurvey()" >Survey</li>
                            <li (click)="naigateToPlant()" >Plant</li>
                            <li (click)="naigateToDepartment()" >Department</li>

                        </ul>
                    </div>
                </div>

                <div [ngClass]="'image-div'">
                    <img src="https://rms.officenet.in/mypage/emppic/pro_pic.jpg" />
                    <button [ngClass]="'edit-button'">Edit&nbsp;Profile</button>
                </div>

                <div [ngClass]="'user-details-div'">
                    <div [ngClass]="'heading-contact'">
                        <span [ngClass]="'contact-p'"> Contact&nbsp;Details </span>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Employee&nbsp;Code</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">EM00258</label>
                        </div>
                    </div>
                    
                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Email&nbsp;ID</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">ashish.gupta&#64;netcommlabs.com</label>
                        </div>
                    </div>
                    
                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Mobile&nbsp;No.</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">+919935483400</label>
                        </div>
                    </div>

                    <div [ngClass]="'heading-contact'">
                        <span [ngClass]="'contact-p'"> General&nbsp;Details </span>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Designation</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">Senior Software Engineer</label>
                        </div>
                    </div>


                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Department</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">QC</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Reporting Manager</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">Seemant Ahlawat (EM00004)</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Head of Department</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">Sonali Chowdhry (EM00001)</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Location</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">Noida</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Date of Joining</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">25/11/2024</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Date of Birth</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">25/07/1999</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Blood Group</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">O+</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Grade</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">G1</label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div-blank'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'"></label>
                        </div>
                        <div [ngClass]="''">
                            <label ngClass="'lbl-right'"></label>
                        </div>
                    </div>

                    <div [ngClass]="'contact-details-div-Status'">
                        <div [ngClass]="'div-left'">
                            <label [ngClass]="'lbl-left'">Employee Status</label>
                        </div>
                        <div [ngClass]="'div-right'">
                            <label ngClass="'lbl-right'">Not Confirmed</label>
                        </div>
                    </div>

                </div>                

            </div>
            
        </ng-container>
    </div>
</div>

<app-footer></app-footer>